---
layout: default
---

<h1>{{ page.title }}</h1>

<p style="font-size:90%;">Posted on <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %-d, %Y" }}</time></p>

{% include linebreaks.html input=content %}

Categories: 
<div class="after-post-cats">
                <ul class="tags mb-4">
                    {% assign sortedCategories = page.categories | sort %}
                    {% for category in sortedCategories %}
                    <li>
                        <a class="smoothscroll" href="{{site.baseurl}}/categories#{{ category | replace: " ","-" }}">{{ category }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>




<div class="post-nav">
  <p>
    {% if page.previous.url %}
    <a href="{{page.previous.url}}">&#8672;&nbsp;{{page.previous.title}}</a>
    {% endif %}
  </p>
  <p>
    {% if page.next.url %}
    <a href="{{page.next.url}}">{{page.next.title}}&nbsp;&#8674;</a>
    {% endif %}
  </p>
</div>


